// header {
//     width: 100%;

//     // example

//     .nav {
//         display: flex;
//         height: 70px;
//         align-items: center;
//         justify-content: space-between;

//         &__logo {
//             font-style: 24px;
//             cursor: pointer;
//         }

//         &__list {
//             display: flex;
//             gap: 50px;
//             list-style-type: none;

//             &--item {
//                 text-transform: uppercase;

//                 &-link {
//                     text-decoration: none;
//                     &:hover{
//                         color:red;
//                     }
//                 }
//             }
//         }
//     }
// }
header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  padding-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

form {
  display: flex;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  background: var(--Base-White, #fff);
  border-radius: 10px;
  background: var(--Gray-Background, rgba(47, 43, 67, 0.04));
}

.nav-input {
  width: 110%;
  color: var(--Gray-Low, rgba(47, 43, 67, 0.4));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
  background: none;
}
.nav-input::placeholder {
  color: var(--Gray-Low, rgba(47, 43, 67, 0.4));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-btn {
  display: flex;
  height: 52px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--green, #33836e);
  color: #fff;
  border: none;
}

.nav-p {
  color: var(--Gray-Medium, rgba(47, 43, 67, 0.5));
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.two-btn {
  display: flex;
  gap: 15px;
}

.second-btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
  border: none;
}
.second-ul > li {
  list-style: none;
}
.second-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--Base-Black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reg-a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: var(--Base-Black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.zadat-vopros {
  text-decoration: none;
  color: #fff;
}
.responsive-all-img {
  display: none;
}
.zvonit-response {
  display: none;
}
@media only screen and (max-width: 391px) {
  .second-ul {
    display: none;
  }

  .reg-a {
    display: none;
  }
  .main-section {
    display: flex;
    flex-direction: column;
  }

  .main-section {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .section-1p {
    position: absolute;
    top: -50px;
  }
  .response-odam {
    margin-top: 20px !important;
    width: 250px !important;
    height: 250px !important;
  }
  .section-1h1 {
    font-size: 22px !important;
    width: 360px !important;
    margin-left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1h3 {
    font-size: 18px !important;
    display: flex;
    width: 360px !important;
    margin: 0 auto !important;
    margin-top: 15px !important;
  }
  .sec1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1-1btn {
    display: flex;
    flex-direction: column;
  }
  .clock-ul {
    display: flex;
    flex-direction: column;
  }
  .section-1h1 {
    font-size: 24px;
    width: 360px !important;
    margin: 0 auto !important;
    padding-top: 16px;
  }
  .main-sec-p2 {
    width: 360px !important;
  }
  .section-1h2 {
    font-size: 24px !important;
    width: 360px !important;
  }

  .main-sec-p3 {
    font-size: 18px !important;
    width: 360px !important;
  }

  .main-section-all-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px !important;
  }

  .main-card-wrapper {
    width: 360px;
  }

  #why-choose {
    display: none;
  }
  .support-h1 {
    display: none;
  }
  .support-all-wrap {
    display: none !important;
  }

  .lawyer-wrapper-edit {
    display: none !important;
  }
  .zvonit-24-wrapper {
    display: none !important;
  }
  .lawyer-sec-wrapper {
    display: none;
  }

  .zvonit-response {
    display: flex;
    position: absolute;
    top: 59%;
  }

  .block-ceo {
    display: none !important;
  }
  .yurist-hfirst {
    font-size: 24px !important;
    width: 360px !important;
  }
  .yurist-portal-card {
    font-size: 24px !important;
    width: 360px !important;
  }
  .yurist-card-h3 {
    font-size: 16px !important;
  }

  .portal-btn {
    font-size: 24px !important;
    width: 360px !important;
  }
  .portal-btn {
    font-size: 14px !important;
  }

  .yurist-portal {
    display: flex;
    flex-direction: column;
  }
  .yurist-right-wrapper {
    margin-top: 40px;
    width: 360px;
  }

  .vopros-yurist-h1 {
    font-size: 18px;
  }
  .napishite-p {
    font-size: 12px;
  }
  .vopros-yurist-edit {
    display: flex;
    flex-direction: column-reverse;
    gap: 1px;
  }

  .yurist-form {
    display: flex;
    height: 180px;
    width: 283px;
    padding: 12px 12px 7px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
  }
  .ikta-form {
    display: flex;
    flex-direction: column;
  }
  .yurist-btn-2 {
    position: absolute;
    width: 283px;
    margin-top: 130px;
  }

  .inner-form-tel {
    width: 283px;
  }
  .downer-h3 {
    display: none;
  }
  .downer-p {
    display: none;
  }
  .yurist-outer-p {
    display: none;
  }
  .vopros-yurist-edit {
    margin-left: -100px;
    margin-top: 15px;
  }
  .online-yurist {
    margin-left: -80px;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    display: flex;
  }
}
main {
  position: relative;
}




