.yurist-portal-card {
  display: flex;
  width: 463px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
  margin-top: 15px;
}

.yurist-card-h3 {
  color: var(--Base-Black, #140a32);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.yurist-card-p1 {
  color: var(--Base-Black, #140a32);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.yurist-card-p2 {
  margin-top: 10px;
  color: var(--Gray-Medium, rgba(47, 43, 67, 0.5));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portal-btn {
  display: flex;
  width: 463px;
  padding: 16px 36px 18px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #e0ece9;
  color: var(--green, #33836e);
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 20px;
}

.yurist-right-wrapper {
  display: inline-flex;
  height: 617px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 20px;
  background: var(--green, #33836e);
}

